Host *
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

Host personal-devbox
	user: op://Personal/personal-devbox/user
	HostName: op://Personal/personal-devbox/HostName
	LocalForward 8000 localhost:8000
	LocalForward 8080 localhost:8080


