# OSX General
.DS_Store
.CFUserTextEncoding
.AppleDouble
.LSOverride
.Trash

# Ignore dotfiles git repo
.dotfiles

# OSX Directories
Desktop/
Downloads/
Documents/
Library/
Movies/
Music/
Pictures/
Public

# Other
.zsh_history
.zsh_sessions
